html, body {
    height: 100%;
    margin: 0;
}

#teamRocket {
    background-size: cover;
    background-position: center;
    background-image: url('/img/teamRocket.png');
    background-attachment: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

#teamRocket > img {
    height: auto;
    width: auto;
    object-fit: contain;
}

#lema p {
    margin: 10px 0;
    font-size: 2rem;
}

#playButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.5rem;
    background-color: #f2a9b0;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#playButton:hover {
    background-color: #d28c9d;
}

.Jessie {
    background-color: rgba(255, 182, 193, 0.7);
    color: red;
    padding: 5px;
    border-radius: 5px;
}

.James {
    background-color: aqua;
    color: darkblue;
    padding: 5px;
    border-radius: 5px;
}

.Meawth {
    background-color: rgba(128, 128, 128, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
}