<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Guion exposicion</title>
    <script src="/js/guion.js"></script>
    <link rel="icon" type="image/png" href="/static/icono/MasterBal.png">
</head>
<body>
    <ul id="back">
        <li><input type="checkbox"><span>Origen de los datos</span></li>
        <li><input type="checkbox"><span>Deserialización de estos en el initData del servicio</span></li>
        <li><input type="checkbox"><span>Clase en sí que hace la deserialización</span></li>
        <li><input type="checkbox"><span>Clase y enum a las que se convierte el JSON</span></li>
        <li><input type="checkbox"><span>Controlador y sus mappings</span></li>
        <li><input type="checkbox"><span>DebilidadesService</span></li>
    </ul>
    <ul id="front">
        <li><input type="checkbox"> <span>Muestra de los datos de DebilidadesService</span></li>
        <li><input type="checkbox"> <span>Clicks.js</span></li>
        <li><input type="checkbox"><span> CSS común</span></li>
    </ul>
    
    <span id="general">
        <ul>
            <li><input type="checkbox"><span>Creación, borrado y manipulación de datos del repositorio en memoria</span></li>
            <li><input type="checkbox"><span>El repositorio</span></li>
            <li><input type="checkbox"><span>pokemonNotFound</span></li>
            <li><input type="checkbox"><span>App en funcionamiento(dexView, crear y borrar pokes, editar un pokemon)</span></li>
        </ul>
    </span>
</body>