<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/icono/MasterBal.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de [[${buscado.nombre}]]</title>
    <script src="/js/clicks.js"></script>
    <script src="/js/animaciones.js"></script>
    <link rel="stylesheet" href="/css/Style.css">
    <link rel="icon" type="image/png" href="/static/icono/MasterBal.png">
</head>

<body id="cuerpoDetalles">
    <a href="http://localhost:9000/pokedex">Volver a dexView</a>
    <h1 id="nombre" th:text="${buscado.nombre}" name="nombre"></h1>
    <h2>Url de la imagen en movimiento: <a th:href="${buscado.urlGif}" id="enlace">Enlace</a></h2>
    <img th:src="${buscado.imagen}">
    <h2>Nº dex nacional:<span id="numDex" th:text="${buscado.numDex}"></span></h2>
    <br>
    <span class="tipo1 tipo" th:class="${buscado.tipos[0]}">
        <img class="it1" th:src="@{/tipos/{tipo}.png(tipo=${buscado.tipos[0].toLowerCase()})}"
            th:alt="${buscado.tipos[0]}">
    </span>
    <span class="tipo2 tipo" th:if="${buscado.tipos != null and buscado.tipos.size() > 1}"
        th:class="${buscado.tipos[1]}">
        <img class="it2" th:src="@{/tipos/{tipo}.png(tipo=${buscado.tipos[1].toLowerCase()})}"
            th:alt="${buscado.tipos[1]}">
    </span>

    <br>
    <ul>
        <li th:each="descripcion : ${buscado.descripcionesPokedex}" th:text="${descripcion}"></li>
    </ul>

    <div>
        <h1 id="efectividades">Egectividades contra el:</h1>
        <table id="tablaEfectividadesContra" border=1>
            <thead>
                <tr>
                    <th><img src="/tipos/normal.png" alt="Normal"></th>
                    <th><img src="/tipos/fuego.png" alt="Fuego"></th>
                    <th><img src="/tipos/agua.png" alt="Agua"></th>
                    <th><img src="/tipos/planta.png" alt="Planta"></th>
                    <th><img src="/tipos/electrico.png" alt="Eléctrico"></th>
                    <th><img src="/tipos/hielo.png" alt="Hielo"></th>
                    <th><img src="/tipos/lucha.png" alt="Lucha"></th>
                    <th><img src="/tipos/veneno.png" alt="Veneno"></th>
                    <th><img src="/tipos/tierra.png" alt="Tierra"></th>
                    <th><img src="/tipos/roca.png" alt="Roca"></th>
                    <th><img src="/tipos/bicho.png" alt="Bicho"></th>
                    <th><img src="/tipos/fantasma.png" alt="Fantasma"></th>
                    <th><img src="/tipos/acero.png" alt="Acero"></th>
                    <th><img src="/tipos/dragon.png" alt="Dragón"></th>
                    <th><img src="/tipos/siniestro.png" alt="Siniestro"></th>
                    <th><img src="/tipos/hada.png" alt="Hada"></th>
                    <th><img src="/tipos/psiquico.png" alt="Psiquico"></th>
                    <th><img src="/tipos/volador.png" alt="Volador"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:each="debilidad : ${debilidadesPokemon}">
                        <img th:if="${debilidad == 0.25}" th:src="@{/efectividades/X1-4.svg}" />
                        <img th:if="${debilidad == 0.5}" th:src="@{/efectividades/X1-2.svg}" />
                        <img th:if="${debilidad == 2.0}" th:src="@{/efectividades/X2.svg}" />
                        <img th:if="${debilidad==4.0}" th:src="@{/efectividades/X4.svg}" />
                        <p th:if="${debilidad==0.0}">-</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>